main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#board {
    display: grid;
    grid-template-columns: 12rem 12rem 12rem;
    gap: 0;
}

.square {
    border: 1px solid #999;
    width: 100%;
    height: 12rem;
}

button {
    margin-bottom: 1rem;
}
